<h1><%= @event.name %> / Registrations</h1>

<p class="text-right">
<%= link_to "New Registration", new_admin_event_registration_path(@event), :class => "btn btn-primary" %>
</p>

<%= search_form_for @q, :url => admin_event_registrations_path(@event) do |f| %>

  <p><%= f.search_field :name_cont, :placeholder => "姓名", :class => "form-control" %></p>

  <p><%= f.search_field :email_cont, :placeholder => "E-mail", :class => "form-control" %></p>

  <p><%= text_field_tag :registration_id, params[:registration_id], :placeholder => "報名編號，可用,號區隔", :class => "form-control" %></p>

  <p><% Registration::STATUS.each do |s| %>
    <label><%= check_box_tag "statuses[]", s, Array(params[:statuses]).include?(s) %> <%= t(s, :scope => "registration.status") %> (<%= @event.registrations.by_status(s).size %>)</label>
  <% end %></p>

  <p><% @event.tickets.each do |t| %>
    <label><%= check_box_tag "ticket_ids[]", t.id, Array(params[:ticket_ids]).include?(t.id.to_s) %> <%= t.name %> (<%= @event.registrations.where( :ticket_id => t.id ).size %>)</label>
  <% end %></p>

  <p>
    報名日期：<%= date_field_tag :start_on, params[:start_on] %>～<%= date_field_tag :end_on, params[:end_on] %>
  </p>

  <p class="text-right">
    <%= submit_tag "送出篩選", :class => "btn btn-primary" %>
  </p>
<% end %>

<table class="table">
<tr>
  <th>ID</th>
  <th>Ticket</th>
  <th>Name</th>
  <th>Status</th>
  <th>E-mail</th>
  <th>建立時間</th>
  <th>Actions</th>
</tr>
<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.id %></td>
    <td><%= registration.ticket.name %></td>
    <td><%= registration.name %></td>
    <td><%= t( registration.status, :scope => "registration.status") %></td>
    <td><%= registration.email %></td>
    <td><%= registration.created_at %></td>
    <td>
      <%= link_to "Edit", edit_admin_event_registration_path(@event, registration), :class => "btn btn-default" %>
      <%= link_to "Delete", admin_event_registration_path(@event, registration), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
  </tr>
<% end %>
</table>

<%= paginate @registrations %>

