<h1><%= @event.name %> / Registrations</h1>

<p class="text-right">
<%= link_to "New Registration", new_admin_event_registration_path(@event), :class => "btn btn-primary" %>
</p>

<%= form_tag admin_event_registrations_path(@event), :method => :get do %>

  <div class="submenu">
    <div class="btn-group">
      <%= link_to "全部 (#{@event.registrations.count})", admin_event_registrations_path(:status => nil), :class => "btn btn-success btn-group #{(params[:status].blank?) ? "active" : ""}" %>
      <% Registration::STATUS.each do |s| %>
          <%= link_to t(s, :scope => "registration.status") + " (#{@event.registrations.by_status(s).count})", admin_event_registrations_path(:status => s), :class => "btn btn-success btn-group #{(params[:status] == s) ? "active" : ""}" %>
      <% end %>
    </div>
  </div>

  <div class="submenu">
    <% @event.tickets.each do |t| %>
      <label><%= check_box_tag "filter_by_ticket[]", t.id, Array(params[:filter_by_ticket]).include?(t.id.to_s) %> <%= t.name %> (<%= @event.registrations.where( :ticket_id => t.id ).count %>)</label>
    <% end %>
  </div>

  <p class="text-right">
    <%= submit_tag "送出篩選", :class => "btn btn-primary" %>
  </p>
<% end %>

<table class="table">
<tr>
  <th>ID</th>
  <th>Ticket</th>
  <th>Name</th>
  <th>Status</th>
  <th>E-mail</th>
  <th>建立時間</th>
  <th>Actions</th>
</tr>
<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.id %></td>
    <td><%= registration.ticket.name %></td>
    <td><%= registration.name %></td>
    <td><%= t( registration.status, :scope => "registration.status") %></td>
    <td><%= registration.email %></td>
    <td><%= registration.created_at %></td>
    <td>
      <%= link_to "Edit", edit_admin_event_registration_path(@event, registration), :class => "btn btn-default" %>
      <%= link_to "Delete", admin_event_registration_path(@event, registration), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
  </tr>
<% end %>
</table>

<%= paginate @registrations %>

