<h1><%= @event.name %> / New Registration </h1>

<%= form_for [:admin, @event, @registration] do |f| %>

<div class="form-group">
  <%= f.label :status %>
  <%= f.select :status, Registration::STATUS.map{ |s| [t(s, :scope => "registration.status"), s] }, {}, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :ticket_id %>
  <%= f.select :ticket_id, @event.tickets.map{ |t| [t.name, t.id] }, {}, :class => "form-control" %>
</div>

<div class="form-gour">
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :cellphone %>
  <%= f.text_field :cellphone, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :website %>
  <%= f.url_field :website, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :bio %>
  <%= f.text_area :bio, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.submit "Submit", :class => "btn btn-primary" %>
</div>

<% end %>
