<h1><%= t("admin.event_list") %></h1>

<p class="text-right">
<%= link_to "New Event", new_admin_event_path, :class => "btn btn-primary" %>
</p>

<%= form_tag bulk_update_admin_events_path, :class => "form-inline" do %>
<table class="table">
<thead>
<tr>
  <th><%= check_box_tag "全選", "1", false, :id => "toggle_all" %></th>
  <th>Event Name</th>
  <th>Actions</th>
</tr>
</thead>
<tbody class="sortable">
<% @events.each do |event| %>
  <tr data-reorder-url="<%= reorder_admin_event_path(event) %>">
    <td>
      <%= check_box_tag "ids[]", event.id %>
    </td>
    <td>
      <span class="sortable_icon">☰</span>
      <%= link_to event.name, admin_event_path(event) %>
    </td>
    <td>
      <%#= link_to "上移", reorder_admin_event_path(event, :position => :up), :method => :post, :class => "btn btn-default" %>
      <%#= link_to "下移", reorder_admin_event_path(event, :position => :down), :method => :post, :class => "btn btn-default" %>
      <%= link_to "置頂", reorder_admin_event_path(event, :position => :first), :method => :post, :class => "btn btn-default" %>
      <%= link_to "置底", reorder_admin_event_path(event, :position => :last), :method => :post, :class => "btn btn-default" %>

      <%= link_to "Tickets", admin_event_tickets_path(event), :class => "btn btn-default" %>
      <%= link_to "Edit", edit_admin_event_path(event), :class => "btn btn-default" %>
      <%= link_to "Delete", admin_event_path(event), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
  <p>
  <%= select_tag :event_status, options_for_select( Event::STATUS.map{ |s| [t(s, :scope => "event.status"), s] }), :class => "form-control" %>
  <%= submit_tag t(:bulk_update), :class => "btn btn-primary" %>
  <%= submit_tag t(:bulk_delete), :class => "btn btn-danger", :data => { :confirm => "Are you sure?" } %>
  </p>
<% end %>

<script>
  $("#toggle_all").click(function(){
    if ( $(this).prop("checked") ) {
      $("input[name='ids[]']").prop("checked", true);
    } else {
      $("input[name='ids[]']").prop("checked", false);
    }
  })

  $( ".sortable" ).sortable({
    axis: 'y',       // 限制只能上下拖拉
    items: 'tr',     // 拖拉整個 tr
    cursor: 'move',  // 變更拖拉時的 icon
    handle: ".sortable_icon",  // 限制只有點 .sortable_icon 才能開始拖拉
    stop: function(e, ui){     // 當拖拉結束時，會調用這個方法
      ui.item.children('td').effect('highlight', {}, 1000)
    },
    update: function(e, ui) {   // 當拖拉結束並且 DOM 上的位置變更時，會調用這個方法
      reorder_url = ui.item.data('reorder-url')
      position = ui.item.index()
      $.ajax({
       type: 'POST',
       url: reorder_url,
       dataType: 'json',
       data: { position: position }
      })
    }
  });
</script>
