<h1><%= t("admin.event_list") %></h1>

<p class="text-right">
<%= link_to "New Event", new_admin_event_path, :class => "btn btn-primary" %>
</p>


<%= form_tag bulk_update_admin_events_path, :class => "form-inline" do %>

<table class="table">
  <thead>
<tr>
   <th><%= check_box_tag "全选", "1", false, :id => "toggle_all" %></th>

  <th>Event Name</th>
  <th>Actions</th>
</tr>
</thead>
<tbody class="sortable">
<% @events.each do |event| %>
    <tr data-reorder-url="<%= reorder_admin_event_path(event) %>">
    <td>
        <%= check_box_tag "ids[]", event.id %>
    </td>
    <td>
      <span class="sortable_icon">☰</span>
      <%= link_to event.name, admin_event_path(event) %>
    </td>
      <td>
       <%= link_to "置顶", reorder_admin_event_path(event, :position => :first), :method => :post, :class => "btn btn-default" %>
       <%= link_to "置底", reorder_admin_event_path(event, :position => :last), :method => :post, :class => "btn btn-default" %>
       <%= link_to "Tickets", admin_event_tickets_path(event), :class => "btn btn-default"%>
       <%= link_to "Edit", edit_admin_event_path(event), :class => "btn btn-default" %>
       <%= link_to "Delete", admin_event_path(event), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
  </tr>
<% end %>
</tbody>
</table>
     <p>
     <%= select_tag :event_status, options_for_select( Event::STATUS.map{ |s| [t(s, :scope => "event.status"), s] }), :class => "form-control" %>
     <%= submit_tag t(:bulk_update), :class => "btn btn-primary" %>
     <%= submit_tag t(:bulk_delete), :class => "btn btn-danger", :data => { :confirm => "Are you sure?" } %>
     </p>
   <% end %>

   <script>
     // 这个 javascript 会绑事件在 #toggle_all 核选方块上，来做全选效果
     $("#toggle_all").click(function(){
       if ( $(this).prop("checked") ) {
         $("input[name='ids[]']").prop("checked", true);
       } else {
         $("input[name='ids[]']").prop("checked", false);
       }
     })


 $(".sortable").sortable({
   axis: 'y',  //限制只能上下拖拉
   items: 'tr',  //拖拉整个tr
   cursor: 'move', //变更拖拉时的icon
   handle: ".sortable_icon", //限制只有点☰才能开始拖拉，砍掉这行的话，会是整个tr都可以进行拖拉，你可以试试看
   stop: function(e,ui){  //当拖拉结束时，会调用这个方法
     ui.item.children('td').effect('highlight',{},1000)
   },
   update: function(e,ui){ //当拖拉结束并且DOM上的位置变更时，会调用这个方法
     reorder_url = ui.item.data('reorder_url')
     position = ui.item.index() //取得顺序
     $.ajax({
       type: 'POST',
       url: reorder_url,
       dataType: 'json',
       data: {position: position}
     })

   }
 });
    </script>
