<h2>編修紀錄</h2>


<table class="table">
<tr>
  <td>ID</td>
  <td>Model</td>
  <td>Model ID</td>
  <td>事件</td>
  <td></td>
  <td>操作者</td>
  <td></td>
</tr>
<% @versions.each do |version| %>
  <tr>
    <td><%= version.id %></td>
    <td><%= version.item_type %></td>
    <td><%= version.item_id %></td>
    <td><%= version.event %></td>
    <td>
      <ul>
      <% version.changeset.each do |key, value| %>
        <li>從 <%= value[0] %> 改成 <%= value[1] %></li>
      <% end %>
      </ul>
    </td>
    <td><%= version.whodunnit && User.find(version.whodunnit).display_name %></td>
    <td>
      <% if version.event != 'create' %>
      <%= link_to "Undo", admin_version_undo_path(version), :data => { :confirm => "Are you sure?"}, :method => :post, :class => "btn btn-danger" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @versions %>