<h1><%= @event.name %></h1>
<h2>Step 1</h2>

<%= form_for [@event, Registration.new] do |f| %>

  <div class="form-group">
    <%= f.label :ticket_id %>
    <%= f.select :ticket_id, @event.tickets.map{ |ticket| [ticket.name, ticket.id] }, {}, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save and Next", class:"btn btn-primary" %>
  </div>

<% end %>