<h1><%= @event.name %></h1>
<h2>Step 2</h2>

<% if @registration.errors.any? %>
  <ul>
    <% @registration.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @registration, :url => update_step2_event_registration_path(@event, @registration) do |f| %>

  <div class="form-group">
    <%= f.label :name, "姓名", :class => "control-label" %>
    <%= f.text_field :name, :class => "form-control", :required => true, :autofocus => true %>

    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group">
    <%= f.label :email, "邮箱", :class => "control-label" %>
    <%= f.email_field :email, :class => "form-control", :required => true %>

    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group">
    <%= f.label :cellphone, "电话", :class => "control-label" %>
    <%= f.text_field :cellphone, :class => "form-control", :required => true %>

    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group">
    <%= link_to "Previous", step1_event_registration_path(@event, @registration), :class => "btn btn-default" %>
    <%= f.submit "Save and Next", :class => "btn btn-primary" %>
  </div>

<% end %>

<script>
  $("form").validator();
</script>
