<h1><%= @event.name %></h1>

<h2>Step 2</h2>

<%= form_for @registration, url: update_step2_event_registration_path(@event, @registration) do |f| %>

  <div class="form-group <%= (f.object.errors[:name].any?)? "has-error" : "" %>">
    <%= f.label :name, "姓名", :calss => "control-label" %>
    <%= f.text_field :name, :class => "form-control", :required => true, :autofocus => true %>
    <% if f.object.errors[:name] %>
      <span class="help-block"><%= safe_join(f.object.errors[:name], "、") %></span>
    <% end %>
  </div>

  <div class="form-group <%= (f.object.errors[:email].any?)? "has-error" : "" %>">
    <%= f.label :email, "E-mail", :calss => "control-label" %>
    <%= f.email_field :email, :class => "form-control", :required => true %>
    <% if f.object.errors[:email] %>
      <span class="help-block"><%= safe_join(f.object.errors[:email], "、") %></span>
    <% end %>
  </div>

  <div class="form-group <%= (f.object.errors[:cellphone].any?)? "has-error" : "" %>">
    <%= f.label :cellphone, "電話", :calss => "control-label" %>
    <%= f.text_field :cellphone, :class => "form-control", :required => true %>
    <% if f.object.errors[:cellphone] %>
      <span class="help-block"><%= safe_join(f.object.errors[:cellphone], "、") %></span>
    <% end %>
  </div>

  <div class="form-group">
    <%= link_to "Previous", step1_event_registration_path(@event, @registration), :class => "btn btn-default" %>
    <%= f.submit "Save and Next", class:"btn btn-primary" %>
  </div>

<% end %>