<h1><%= @event.name %></h1>

<h2>Step 3 </h2>
   <% if @registration.errors.any? %>
     <ul>
     <% @registration.errors.full_messages.each do |error| %>
       <li><%= error %></li>
     <% end %>
     </ul>
   <% end %>
<%= form_for @registration, :url => update_step3_event_registration_path(@event,@registration) do |f| %>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.url_field :website, :class => "form-control" %>
    <div class="help-block with-errors"></div>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, :class => "form-control", :required => true %>
  </div>

  <div class="form-group">
    <%= link_to "Previous", step2_event_registration_path(@event, @registration), :class => "btn btn-default"%>
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>

<% end %>

  <script>
    $("form").validator();
  </script>
