<% if @event.logo.present? %>
  <%= link_to image_tag(@event.logo.url(:thumb)), @event.logo.url, :target => "_blank" %>
<% end %>

<h1><%= @event.name %></h1>

<h2><%= t(@event.status, :scope => "event.status") %></h2>

<h2><%= @event.category.try(:name) %></h2>

<% if @event.images.present? %>
  <% @event.images.each do |i| %>
    <%= link_to image_tag(i.url(:small)), i.url %>
  <% end %>
<% end %>

<ul>
<% @event.attachments.each do |a| %>
  <li><%= link_to a.description, a.attachment.url %></li>
<% end %>
</ul>

<%= sanitize @event.description %>

<p><%= link_to "開始報名", new_event_registration_path(@event), :class => "btn btn-primary" %></p>