<h1>Admin Users</h1>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Groups</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td>
        <% user.groups.each do |group| %>
          <%= group.name%><br>
        <% end %>
      </td>
      <td>
        <%= link_to "上移", reorder_admin_user_path(user, :position => :up), :method => :post, :class => "btn btn-default" %>
        <%= link_to "下移", reorder_admin_user_path(user, :position => :down), :method => :post, :class => "btn btn-default" %>
        <%= link_to "置頂", reorder_admin_user_path(user, :position => :first), :method => :post, :class => "btn btn-default" %>
        <%= link_to "置底", reorder_admin_user_path(user, :position => :last), :method => :post, :class => "btn btn-default" %>
      </td>
      <td><%= link_to "Edit", edit_admin_user_path(user), class:"btn btn-default"  %></td>
      <td><%= link_to "Edit Profile", edit_admin_user_profile_path(user), class:"btn btn-default" %></td>
    </tr>
  <% end %>
</table>